:root {
  /* Color */
  --white-color: #fff;
  --black-color: #140a00;
  --blue-color: #045fd4;
  --red-color: #ff0000;
  --grey-dark-color: #909090;
  --grey-light-color: #e0e0e0;

  /* Size */
  --padding: 12px;
  --avatar-size: 36px;

  /* Font Size */
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
  --font-icons: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
button,
button:focus {
  border: none;
  cursor: pointer;
  outline: none;
  background: none;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
  background-color: var(--black-color);
  color: var(--white-color);
}
header .logo {
  font-size: var(--font-large);
}
header .logo i {
  color: var(--red-color);
}
header .icons .fa-search {
  margin-right: var(--padding);
}

/* Video Player */
.player {
  text-align: center;
  background-color: var(--black-color);
  position: sticky;
  top: 0;
  display: flex;
}
.player video {
  width: 100%;
  height: 100%;
  max-width: 1000px;
}

/* Video Information */
.infoAndUpnext > .info {
  padding: var(--padding);
}
/* metadata */
.metadata .hashtags {
  display: flex;
  font-size: var(--font-small);
  color: var(--blue-color);
}
.metadata .hashtags li {
  margin-right: var(--padding);
}
.metadata .titleAndButton {
  display: flex;
}
.metadata .titleAndButton .title {
  font-size: var(--font-medium);
  margin-right: var(--padding);
}
.metadata .titleAndButton .title.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.metadata .titleAndButton .moreBtn {
  height: 100%;
  transition: all 0.3s ease-in-out;
}
.metadata .titleAndButton .moreBtn.clicked {
  transform: rotate(180deg);
}
.metadata .views {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}
/* actions */
.actions {
  display: flex;
  justify-content: space-around;
  margin: var(--padding) 0;
}
.actions button {
  display: flex;
  flex-direction: column;
  font-size: var(--font-small);
}
.actions button i {
  margin: 0 auto;
  margin-bottom: calc(var(--padding) / 2);
  font-size: var(--font-icons);
}
.actions button i.active {
  color: var(--blue-color);
}
/* Channel Description */
.channel {
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
  border-top: 1px solid var(--grey-light-color);
  border-bottom: 1px solid var(--grey-light-color);
}
.channel .metadata {
  display: flex;
  align-items: center;
}
.channel .metadata img {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
  margin-right: calc(var(--padding) / 2);
}
.channel .metadata .info {
  display: flex;
  flex-direction: column;
}
.channel .metadata .info .name {
  font-size: var(--font-medium);
}
.channel .metadata .info .subscribers {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}
.channel .subscribe {
  text-transform: uppercase;
  color: var(--red-color);
  font-size: var(--font-medium);
}

/* Upnext */
.upNext {
  padding: 0 var(--padding);
}
.upNext > .title {
  font-size: medium;
  color: var(--grey-dark-color);
  margin-bottom: calc(var(--padding) / 2);
  display: inline-block;
}
.upNext .item {
  display: flex;
  margin-top: var(--padding);
}
.upNext .item .img {
  flex: 1 1 40%;
  margin-right: var(--padding);
}
.upNext .item .img img {
  width: 100%;
}
.upNext .item .info {
  flex: 1 1 55%;
}
.upNext .item .moreBtn {
  flex: 1 1 5%;
}
.upNext .item .info {
  display: flex;
  flex-direction: column;
}
.upNext .item .info .title {
  font-size: var(--font-small);
}
.upNext .item .info .name,
.upNext .item .info .views {
  font-size: var(--font-micro);
  color: var(--grey-dark-color);
}
.infoAndUpnext {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .infoAndUpnext {
    flex-direction: row;
    margin: var(--padding);
  }
  .info {
    flex: 1 60%;
  }
  .upNext {
    flex: 1 40%;
  }
}
